<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= raw(@plantilla.cabeza) %><br/>
<%= raw(@plantilla.cuerpo) %><br/>
<%= raw(@plantilla.pie) %><br/>

</body>
</html>
