<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @ciudad.nombre %>
</p>


<%= link_to 'Editar', edit_ciudad_path(@ciudad), :class => 'button small' %> |
<%= link_to 'Atras', ciudades_path, :class => 'button small'  %>
